---
---


html, body {
    height: 100%;
}

.cu-header {
    height: 80px;
    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: white;
        text-decoration: none;
    }

    a:active {
        color: white;
        text-decoration: none;
    }
}

.cu-link {
  color: #d0b87c !important;
}

.navbar-nav li {
    a {
        color: #d0b87c !important;
        text-decoration: none;
    }
    a:active {
        color: #d0b87c !important;
        text-decoration: none;
    }
    a:hover {
        /* color: white !important; */
        text-decoration: none;
    }
}

.cu-header-logo {
    margin: 10px;
}

.inline-block {
    display: inline-block;
}

.header-color-wrap {
    background-color: black;
}

.gold-border {
    border-top: 3px solid #d0b87c;
}

.navbar-inverse {
    background-color: #444;
}

.cu-footer {
    background-color: #444;
    height: 150px;
    padding-top: 20px;
    a {
        color: #d0b87c !important;
        text-decoration: none;
    }
    a:active {
        color: #d0b87c !important;
        text-decoration: none;
    }
    a:hover {
        color: white !important;
        text-decoration: none;
    }
}

.push {
  height: 150px;
}

.content {
    min-height: 600px;
}

.panel-title a {
    color: #d0b87c;
}


.wrapper {
  min-height: 100%;
  margin: 0 auto -150px;
}

.pagination {
    width: 100%;
    font-size: 1.2em;
}
.prevLink {
    float: left;
    width: 35%;
}

.nextLink {
    float: right;
    width: 35%;
    text-align: right;
}
.previous:before {
    content: '\00ab\00a0';
}
.next:after {
    content: '\00a0\00bb';
}


@media (min-width: 992px) {
  .col-md-height {
    height: 125px;
  }
}

.carousel {
    max-height: 310px;
    overflow: hidden;

    .item img {
      width: 100%;
      height: auto;
    }
}

// .peopleCarouselImg img {
//   width: auto;
//   height: 375px;
//   max-height: 375px;
// }
