[submodule "_notebooks/repositories/rate-my-professor"]
	path = _notebooks/repositories/rate-my-professor
	url = https://github.com/CoDataScience/rate-my-professor.git
[submodule "_notebooks/repositories/tutorials"]
	path = _notebooks/repositories/tutorials
	url = https://github.com/CoDataScience/tutorials.git
