---
layout: default
title: Home
---
<div class="jumbotron">
  <h2>About the Colorado Data Science Team!</h2>
  <p>
    The Colorado Data Science Team
    represents CU Boulder in machine learning competitions, and
    is an incredible opportunity to get hands-on
    experience applying modern machine learning tools to
    real problems with real data. We meet weekly on Tuesdays 5-6PM in ECCR1B40
  </p>
</div>
<h3 class="page-heading">Recent News</h3>
<ul class="post-list">
{% for post in paginator.posts limit:4 %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        </div>
        <div class="panel-body">
          <div>{{ post.excerpt }}</div>
          <div><a href="{{ post.url | prepend: site.baseurl }}">Read More</a></div>
        </div>
        <div class="panel-footer">Posted on {{ post.date | date: "%b %-d, %Y" }}</div>
    </div>
{% endfor %}
</ul>

<div class="pagination"> {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <p class="prevLink"><a href="{{site.baseurl}}/" class="previous">newer entries</a></p>
      {% else %}
      <p class="prevLink"><a href="{{ site.baseurl }}/blog/page{{ paginator.previous_page }}" class="previous">newer entries</a></p>
      {% endif %}
      {% endif %}
      {% if paginator.next_page %}
      <p class="nextLink"><a href="{{ site.baseurl }}/blog/page{{ paginator.next_page }}" class="next">older entries</a></p>
      {% endif %} 
</div>

