<footer class="cu-footer">
	<div id="site-footer-content" class="footer">
        <div id="block-cu-site-info-site-info">
        <font color="#FFFFFF">Colorado Data Science Team</font><br/>
      		<p><a/><a href="mailto:codata@colorado.edu ">Contact Us</a></p>
		</div>
      </div>
    <div id="cu-footer" class="footer">
        <p><strong><a href="http://www.colorado.edu">University of Colorado Boulder</a></strong><br />
        	<font color="#FFFFFF">&copy; Regents of the University of Colorado</font><br />
        <span class="required-links"><a href="http://www.colorado.edu/about/privacy-statement">Privacy</a> &bull; <a href="http://www.colorado.edu/about/legal-trademarks">Legal &amp; Trademarks</a></span></p>
   	</div>
</footer>