<footer class="cu-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p style="color:#FFFFFF">Colorado Data Science Team</p>
        <p><a href="mailto:codata@colorado.edu ">Contact Us</a></p>
      </div>
      <div class="col-md-4">
        <p><a href="http://www.colorado.edu">University of Colorado Boulder</a></p>
        <p><font color="#FFFFFF">&copy; Regents of the University of Colorado</font></p>
      </div>
      <div class="col-md-4">
        <p><a href="http://www.colorado.edu/about/privacy-statement">Privacy</a></p>
        <p><a href="http://www.colorado.edu/about/legal-trademarks">Legal &amp; Trademarks</a></p>
      </div>
    </div>
  </div>
</footer>
