{% assign current = page.url | downcase %}

<div class="header-color-wrap">
    <div class="container cu-header">
        <div class="row">
            <div class=".col-md-12">
                <a href="#" class="pull-left">
                    <img alt="Colorado Data Science Team at University of Colorado at Boulder" src="/images/cu-header.png" height="60" class="cu-header-logo">
                </a>
                <div class="pull-left" style="margin-top:8px;">
                </div>
                <img alt="network logo" src="/images/network-icon.png" height="60" class="pull-right cu-header-logo">
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-inverse navbar-static-top navbar-collapse gold-border">
    <div class="container">
        <ul class="nav navbar-nav">
            <li {% if current == '/' %}class='active'{% endif %}><a href="/">Home</a></li>
            <li {% if current == '/about/' %}class='active'{% endif %}><a href="/about">About</a></li>
            <li {% if current == '/calendar/' %}class='active'{% endif %}><a href="/calendar">Calendar</a></li>
            <li {% if current == '/notebooks/' %}class='active'{% endif %}><a href="/notebooks">Notebooks</a></li>
            <li><a href="https://github.com/CoDataScience" target="_blank">Github</a></li>
        </ul>
    </div>
</nav>
